.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
}

.sample-text-title {
    margin-bottom: 30px;
    font-size: 25px;
}

.sample-text {
    font-size: 17px;
}

b, sup, sub, u, del {
    color: #ff5e13;
}

.button-area{
    padding: 4em 1em;
    border-top: 1px dotted #eee;
}

.button-group-area{
    margin-bottom: 2em;
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 8px;
}

.radius {
    border-radius: 3px;
}

.circle {
    border-radius: 20px;
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff;
  }
  
  .genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff;
    color: #415094;
  }
  
  .genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.primary {
    color: #fff;
    background: #ff5e13;
    border: 1px solid transparent;
  }
  
  .genric-btn.primary:hover {
    color: #ff5e13;
    border: 1px solid #ff5e13;
    background: #fff;
  }
  
  .genric-btn.primary-border {
    color: #ff5e13;
    border: 1px solid #ff5e13;
    background: #fff;
  }
  
  .genric-btn.primary-border:hover {
    color: #fff;
    background: #ff5e13;
    border: 1px solid transparent;
  }
  
  .genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }
  
  .genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  .genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
  }
  
  .genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
  }
  
  .genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
  }

  .genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
  }
  
  .genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
  }
  
  .genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
  }
  
  .genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
  }
  
  .genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
  }
  
  .genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
  }
  
  .genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
  }
  
  .genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
  }
  
  .genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
  }
  
  .genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent;
  }
  
  .genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
  }
  
  .genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline;
  }
  
  .genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent;
  }
  
  .genric-btn.disable {
    color: #222222;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed;
  }

  .genric-btn:focus {
    outline: none;
  }
  
  .genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px;
  }
  
  .genric-btn.large {
    line-height: 45px;
  }
  
  .genric-btn.medium {
    line-height: 30px;
  }
  
  .genric-btn.small {
    line-height: 25px;
  }
